@page
@model IndexModel
@{
    ViewData["Title"] = "PROYECTO";
}
<div class="container alert-primary">
    <div class="text-center text-justify">
        <h1 class="display-4"><b>Proyecto Final de Desarrollo Web</b></h1>
        <img src="https://www.universidadesdeguatemala.com/wp-content/uploads/2020/09/descarga.png" style="width:400px; height:400px" ;>


        <h2 class="display-3">Integrantes</h2>
        <h4><p><b>Josué Eduardo Ramírez Calderón     5390-15-6383</b></p></h4>
        <h4><p><b>Wilson Alexander Rodriguez Tojin   5390-18-168</b></p></h4>
        <h4><p><b>Wilson Jafid Chanchavac            5390-18-1151</b></p></h4>
        <h5><p>Para ver las API en Swagger entrar a: <a href="swagger">Swagger API REST</a>.</p></h5>
    </div>
</div>
