@page
@model proyectofinal.Pages.DetalleVentas.CrearModel
@{
    ViewData["Title"] = "Agregar Detalle de venta";
}

<div class="row">
    <div class="col-8 offset-2">
        <div class="text-info">Agregar un producto a la venta</div>

        <form method="POST">

            <div class="mb-3">
                <label asp-for="DetalleVentaVM.DetalleVenta.CodigoProducto" class="form-label"></label>
                <select class="form-select form-control" asp-for="DetalleVentaVM.DetalleVenta.ProductoId" asp-items="@(new SelectList(Model.DetalleVentaVM.ListaProductos, "CodigoProducto", "NombreProducto"))" aria-label="Default select example">
                </select>
                <span asp-validation-for="DetalleVentaVM.DetalleVenta.CodigoProducto" class="text-danger"></span>
            </div>

            <div class="mb-3" style="display: none">
                <label asp-for="DetalleVentaVM.DetalleVenta.CodigoVenta" class="form-label"></label>
                <select class="form-select form-control" asp-for="DetalleVentaVM.DetalleVenta.VentaId" asp-items="@(new SelectList(Model.DetalleVentaVM.ListaVentas, "CodigoVenta", "CodigoVenta"))" aria-label="Default select example">
                </select>
                <span asp-validation-for="DetalleVentaVM.DetalleVenta.CodigoVenta" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success">Volver</a>
    </div>
</div>