@page
@model proyectofinal.Pages.Productos.BorrarModel
@{
    ViewData["Title"] = "Borrar Producto";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-info">Borrar un producto</div>

            <form method="POST">
                <input type="hidden" asp-for="ProductoVm.Producto.CodigoProducto" />
                <div class="mb-3">
                    <label asp-for="ProductoVm.Producto.NombreProducto" class="form-label"></label>
                    <input asp-for="ProductoVm.Producto.NombreProducto" class="form-control" readonly/>
                    <span asp-validation-for="ProductoVm.Producto.NombreProducto" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProductoVm.Producto.Descripcion" class="form-label"></label>
                    <input asp-for="ProductoVm.Producto.Descripcion" class="form-control" readonly/>
                    <span asp-validation-for="ProductoVm.Producto.Descripcion" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProductoVm.Producto.Ubicacion" class="form-label"></label>
                    <input asp-for="ProductoVm.Producto.Ubicacion" class="form-control" readonly/>
                    <span asp-validation-for="ProductoVm.Producto.Ubicacion" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProductoVm.Producto.ExistenciaMinima" class="form-label"></label>
                    <input type="number" asp-for="ProductoVm.Producto.ExistenciaMinima" class="form-control" readonly/>
                    <span asp-validation-for="ProductoVm.Producto.ExistenciaMinima" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProductoVm.Producto.FechaVencimiento" class="form-label"></label>
                    <input type="date" asp-for="ProductoVm.Producto.FechaVencimiento" class="form-control" readonly />
                </div>
                <div class="mb-3">
                    <label asp-for="ProductoVm.Producto.CodigoProveedor" class="form-label"></label>
                    <input asp-for="ProductoVm.Producto.CodigoProveedor.NombreProveedor" class="form-control" readonly />
                </div>
                <button type="submit" class="btn btn-primary">Borrar Producto</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success">Volver</a>
        </div>
    </div>
</div>